.box{
    width: 380px;
    height: 200px;
    margin: auto;
    padding: 5px;
    border: thick;
    border-color: black;
    border-radius: 3px;
    background-color: rgb(38, 146, 110);
    
}